@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 24px;
}

p {
  font-family: var(--text-font);
  font-size: 18px;
}

@media (min-width: 1281px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 22px;
  }
}
