/* * {
  box-sizing: border-box;
} */

:root {
  --header-font: "Montserrat", sans-serif;
  --text-font: "Hind", sans-serif;
  --green: #6d8248;
  --purple: #A997c9;
  --btn-bg: #F5F5F5;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/* 
#root {
  margin: 0;
} */
