.contact-title {
  color: var(--green);
}
.contact-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  align-items: center;
  row-gap: 64px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.contact-details > p {
  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .contact-container {
    padding: 128px 32px;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .contact-container {
    padding: 128px 162px;
  }

  .contact-title {
    margin-bottom: 64px;
  }

  .contact-details > p {
    font-size: 32px;
  }
}

@media (min-width: 1513px) {
  .contact-container {
    padding: 128px 234px;
  }

  .contact-title {
    margin-bottom: 64px;
  }

  .contact-details > p {
    font-size: 32px;
  }
}
