.profile-container {
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
  gap: 32px;
}

.profile-img {
  margin-bottom: 0;
}

@keyframes arrowJump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

.arrow-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  animation: arrowJump 2.3s infinite;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .profile-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    margin: 128px 32px 0 32px;
    padding: 0;
  }
  .my-name {
    grid-row: 1;
    font-size: 24px;
  }

  .my-job {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: 45px;
  }

  .profile-img {
    grid-row: 2;
    grid-column: 1;
  }

  .about-me {
    grid-row: 2;
    grid-column: 1 / -1;
    padding-left: 200px;
  }

  .arrow-container {
    grid-row: 3;
    grid-column: 1 / -1;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .profile-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    margin: 332px 161px 0 161px;
    padding: 0;
  }
  .my-name {
    grid-row: 1;
    font-size: 32px;
  }

  .my-job {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: 80px;
    padding-bottom: 16px;
  }

  .profile-img {
    grid-row: 2;
    grid-column: 1;
  }

  .about-me {
    grid-row: 2;
    grid-column: 1 / -1;
    padding-left: 200px;
  }

  .arrow-container {
    grid-row: 3;
    grid-column: 1 / -1;
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1513px) {
  .profile-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    margin: 332px 234px 63px 234px;
    padding: 0;
  }
  .my-name {
    grid-row: 1;
    font-size: 32px;
  }

  .my-job {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: 80px;
    padding-bottom: 16px;
  }

  .profile-img {
    grid-row: 2;
    grid-column: 1;
  }

  .about-me {
    grid-row: 2;
    grid-column: 1 / -1;
    padding-left: 200px;
  }

  .arrow-container {
    grid-row: 3;
    grid-column: 1 / -1;
    margin-top: 80px;
  }
}
