.tech-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  background-color: var(--green);
  color: white;
}

.tech-title {
  padding-bottom: 64px;
  text-align: center;
}

.tech-info {
  font-size: 24px;
  font-weight: 600;
  text-align: center;

}

@media (min-width: 745px) and (max-width: 1280px) {
  .tech-container {
    padding: 200px 32px;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .tech-container {
    flex-direction: row;
    column-gap: 124px;
    padding: 300px 161px;
    align-items: center;
  }

  .tech-title {
    padding-bottom: 0;
  }

  .tech-info {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
  }
}

@media (min-width: 1513px) {
  .tech-container {
    flex-direction: row;
    column-gap: 124px;
    padding: 300px 234px;
    align-items: center;
  }

  .tech-title {
    padding-bottom: 0;
  }

  .tech-info {
    font-size: 32px;
    font-weight: 600;
    text-align: left;

  }
}
