.tech-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  background-color: var(--green);
  color: white;
}

.tech-title {
  padding-bottom: 64px;
  text-align: center;
}

.tech-info {
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .tech-container {
    padding: 200px 32px;
  }
}
