.ticker-container {
  overflow-x: hidden;
  display: flex;
  height: 114px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--header-font);
  font-size: 26px;
  font-weight: 600;
  color: white;
  background-color: var(--green);
}

.ticker {
  gap: 1rem;
  animation: marquee 70s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
