.feature-project-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  row-gap: 64px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;

}

.featured-project-title {
  text-align: center;
  color: var(--green);
}

.card-wrapper {
  border: solid blue;
  display: flex;
  flex-direction: column;
}

.image-project {
  margin-bottom: 24px;
}

.proj-card-description {
  margin: 16px 0;
}

.proj-tags-row {
  display: flex; */
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 0 24px 0;
  border: solid green;
}

.proj-button-row {
  border: solid black;
   display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start; 
}


