.feature-project-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  row-gap: 64px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
}

.featured-project-title {
  /* text-align: center; */
}

.project-card-wrapper {
  border: solid orange;

  /* display: flex;
  flex-direction: column;
  margin-top: 64px; */
}

.proj-card-description {
  /* margin: 16px 0; */
}

.tags-row {
  /* display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 16px 0 24px 0; */
  border: solid green;
}

.proj-button-row {
  border: solid black;
  /* display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;  */
}
