.feature-project-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  row-gap: 64px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.featured-project-title {
  text-align: center;
  color: var(--green);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.image-project {
  margin-bottom: 24px;
}

.proj-card-description {
  margin: 16px 0;
}

.proj-tags-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 0 24px 0;
}

.proj-button-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.socials-wrapper {
  display: flex;
  gap: 32px;
  cursor: pointer;
}

.social-link:hover {
  filter: brightness(0);
  transition: 0.5s;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .featured-project-title {
    text-align: left;
  }
  .card-wrapper {
    flex-direction: row;
  }
  .proj-content-container {
    margin-right: 13px;
    margin-left: 37px;
  }
  .image-project {
    margin-bottom: 0;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .feature-project-container {
    padding: 128px 161px 124px 161px;
    row-gap: 128px;
  }
  .project-card-container {
    row-gap: 128px;
  }

  .featured-project-title {
    text-align: left;
  }
  .card-wrapper {
    flex-direction: row;
  }
  .proj-content-container {
    margin-right: 13px;
    margin-left: 37px;
  }
  .image-project {
    margin-bottom: 0;
  }
  .proj-content-container {
    width: 534px;
    margin-left: 16px;
  }
}

@media (min-width: 1513px) {
  .feature-project-container {
    padding: 128px 234px 124px 234px;
    row-gap: 128px;
  }

  .project-card-container {
    row-gap: 128px;
  }

  .featured-project-title {
    text-align: left;
  }
  .card-wrapper {
    flex-direction: row;
  }
  .proj-content-container {
    margin-right: 13px;
    margin-left: 37px;
  }
  .image-project {
    margin-bottom: 0;
  }
  .proj-content-container {
    width: 620px;
    margin-left: 16px;
  }
}
