.skills-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px 157px 16px;
  align-items: center;
  row-gap: 64px;
  background-color: var(--green);
  color: white;
}

.skills-details {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-topic {
  margin-bottom: 16px;
  border: solid var(--purple);
  background-color: var(--purple);
  padding: 5px;
}

.skills-list {
  line-height: 2;
}
@media (min-width: 745px) and (max-width: 1280px) {
  .skills-container {
    padding: 128px 32px 148px 32px;
  }

  .skills-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 64px;
  }

  .skills-wrapper {
    align-items: flex-start;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .skills-container {
    padding: 128px 161px;
    row-gap: 128px;
  }

  .skills-details {
    flex-direction: row;
    column-gap: 50px;
  }

  .skills-wrapper {
    align-items: flex-start;
  }
}

@media (min-width: 1513px) {
  .skills-container {
    padding: 128px 234px;
    row-gap: 128px;
  }

  .skills-details {
    flex-direction: row;
    column-gap: 80px;
  }

  .skills-wrapper {
    align-items: flex-start;
  }
}
