.skills-container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px 157px 16px;
  align-items: center;
  row-gap: 64px;
  background-color: var(--green);
  color: white;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-topic {
  margin-bottom: 16px;
  border: solid var(--purple);
  background-color: var(--purple);
  padding: 5px;
}