.profile-img {
  height: 164px;
  width: 164px;
  align-self: center;
  margin-bottom: 32px;
}

.image-project {
  height: 200px;
  object-fit: cover;
  border-bottom: 10px solid var(--green);
  border-left: 10px solid var(--green);
}

.contact-img {
  height: 164px;
  width: 164px;
}

.arrow-img {
  width: 27px;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .image-project {
    width: 200px;
    height: 280px;
  }
}

@media (min-width: 1281px) and (max-width: 1512px) {
  .image-project {
    height: 280px;
    width: 408px;
    border-bottom: 20px solid var(--green);
    border-left: 20px solid var(--green);
  }
}

@media (min-width: 1513px) {
  .image-project {
    height: 280px;
    width: 408px;
    border-bottom: 20px solid var(--green);
    border-left: 20px solid var(--green);
  }
}
