.profile-img {
  height: 164px;
  width: 164px;
  align-self: center;
  margin-bottom: 32px;
}

.image-project {
  height: 200px;
  object-fit: cover;
  border-bottom: 10px solid var(--green);
  border-left: 10px solid var(--green);
}

.contact-img {
  height: 164px;
  width: 164px;
}

.arrow-img {
  width: 27px;
}
